<div class="jumbo">
	<div class="right tomster"></div>
	<h2>Welcome!</h2>
	<p>We hope you find exactly what you'are looking for in a place to stay.</p>
	{{#link-to 'about' class="button"}}
		About Us
	{{/link-to}}
</div>

{{#list-filter filter=(action 'filterByCity')}}
	{{#each model as |rentalUnit|}}
		<li>{{rental-listing rental=rentalUnit}}</li>
	{{/each}}
{{/list-filter}}